body {
  /*background: #007991;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;

  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


h1{
  color: black;
}
.form{
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
}


a{
  margin: 10px;
}

/*Botones*/
#btniniciarsesion:hover{
  background: blueviolet;
  
}
.btn-primary:hover{
  background: blueviolet;
}
.btn-secondary:hover{
  background:rgb(255, 189, 47);
}
.btn-danger:hover{
  background: orangered;
}
button{
  margin: 10px;
}

/*Barra de Navegacion*/
nav{
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#Titulonav{
  color: aliceblue;
}

#Inicio{
  color:beige;
}


#btniniciarsesion{
  border-radius: 50px;
  
}

/*Tabla*/
table{
  margin: 0 auto;
}
thead{
  background: #06465f;
  text-align: center;
  vertical-align: middle;
  color: rgb(255, 255, 255);
}
td{
  text-align: center;
  min-width: 100px;
  vertical-align: middle;
}

#divtablacalificaciones{
  overflow:scroll;
  max-width: 100%;
}

/*DIVS*/
div{
  text-align: center;
}

#divAgregarGrupo{
  background: #6441A5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}